@model IEnumerable<WebApplication1.Holiday>

@{
    ViewBag.Title = "Święta";
}

<h2>Lista świąt</h2>

<p>
    @Html.ActionLink("Delete", "Delete")
</p>
<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Kategoria
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
    </tr>
}

</table>
