@{
    ViewBag.Title = "Create";
}

<h2>Generuj</h2>

<h3>Wygenerować wszystkie msze?</h3>
<div>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Create" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>