@{
    ViewBag.Title = "Informacje";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h3>Drogowskaz - kalendarz mszy.</h3>

<h4>Poznańskie praktyki badawcze 2017</h4>

<ul>
    <li>Piotr Arent</li>
    <li>Justyna Hoppe</li>
    <li>Paulina Kacprzak</li>
    <li>Piotr Koch</li>
    <li>Marcin Kuskiewicz</li>
    <li>Marek Sanok</li>
    <li>Mateusz Teklak</li>
    <li>Beata Wlazły</li>
</ul>
