@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Drogowskaz</h1>
    <p class="lead">Kalendarz mszy.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kościoły</h2>
        <p>
            Lista kościołów...
        </p>
    </div>
    <div class="col-md-4">
        <h2>Reguły</h2>
        <p>
            @Html.Raw(ViewBag.Swieta);
        </p>
    </div>
    <div class="col-md-4">
        <h2>Msze</h2>
        <p>
            Lista mszy...
        </p>
    </div>
</div>