@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Drogowskaz</h1>
    <p class="lead">Kalendarz mszy.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Święta</h2>
        <p>
            @Html.Raw(ViewBag.Swieta)
        </p>
    </div>
    <div class="col-md-6">
        <h2>Okresy</h2>
        <p>
            @Html.Raw(ViewBag.Okresy)
        </p>
    </div>
</div>